<FilesMatch "\.inc.php$">
Order Allow,Deny
Deny from all
</FilesMatch>
<FilesMatch "\.class.php$">
Order Allow,Deny
Deny from all
</FilesMatch>
<FilesMatch "\.conf.php$">
Order Allow,Deny
Deny from all
</FilesMatch>
