#nav li div.click:hover ul{
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0px;
	-webkit-box-shadow: 3px 3px 10px #bbbbbb;
}

#nav li div.click:hover ul li:hover ul,
#nav li div.click:hover ul li:hover ul li:hover ul,
#nav li div.click:hover ul li:hover ul li:hover ul li:hover ul,
#nav li div.click:hover ul li:hover ul li:hover ul li:hover ul li:hover ul{
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 3px 3px 10px #bbbbbb;
}